<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shadhinmusiclibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application android:name=".di.ShadhinApp"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".activities.SDKMainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/light_theme" />
        <service
            android:name=".player.ShadhinMusicPlayer"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

    </application>
</manifest>